---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const response = await fetch(
  "https://nancomcy54-blogaleoapi.pf3000.wpserveur.net/wp-json/wp/v2/posts"
);
const data = await response.json();

console.log(data);
---

<Layout title="Welcome to Astro.">
  <main>
    <section>
      <div class="row text-center mt-5">
        <h1 class="text-[50px]">Liste des articles</h1>
      </div>
      <div class="row max-w-[1440px] mx-auto mt-10">
        <div class="grid grid-cols-3 gap-10 grid-flow-col">
          {
            data.map((ob) => (
              <div  class="rounded-lg overflow-hidden border-gray-400 border-[1.5px] border-t-0 h-full">
                <img
                  transition:name=`image ${ob.id}`
                  class="object-cover h-[200px] w-full"
                  src={ob.featured_media_src_url}
                  alt=""
                />
                <div class="px-8 py-10">
                  <h2 transition:name=`title ${ob.id}` class="mt-4 text-2xl"> {ob.title.rendered} </h2>
                  <div class="mt-2" set:html={ob.excerpt.rendered} />
                  <a class="mt-5 inline-block" href={"/articles/" + ob.slug}>
                    Lire plus
                  </a>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  body {
    margin: 20px;
  }
</style>
